<ul>
<% @pizzas.each do | pizza | %>
    <li>
        <p><strong>"<%= pizza.name %>", 
        <%= pizza.sauce %></strong>, 
        <%= pizza.cheese %>, 
        <%= pizza.mushrooms %>,
        <%= pizza.extra_toppings %></p>
    </li>
<% end %>
</ul>