<h2>Pizzas</h2>

<a class="btn" href="/pizzas/new">Add Pizza</a>

<div class="pizzas">
  <% @pizza.each do |pizza| %>
  <div class="row">
    <img src="<%= pizza.photo_url %>" alt="<%= pizza.name %> photo">
    <ul>
      <li>
        <h2>
          <a href="/pizza/<%= pizza.id %>">
            <%= pizza.name %>
          </a>
        </h2>
      </li>
      <li>
        <a href="/pizza/<%= pizza.id %>/edit">
          Edit
        </a>
      </li>
      <li>
        <li>
          <form method="/pizza/<%= pizza.id %>/delete" action="post">
            <button>Delete</button>
          </form>
        </li>
      </li>
    </ul>
  </div>
  <% end %>
</div>
