<h1>Cookies</h1>
	<% @cookies.each do |cookie| %>
	<div class="cookieBox">
		<div class="cookies">
			<a class="eachCookie" href="/cookies/<%= cookie.id %>"><%= cookie.name %>: <%= cookie.cookie_type %> "<%= cookie.cookie_name %>"</a>
		</div>

		<div class="editDelete">
				<a href="/cookies/<%=cookie.id %>/edit">Edit</a>
				<form method="post" action="/cookies/<%= cookie.id %>"
				<input type="submit" value="Add Cookie">
				

				<form method="post" action="/cookies/<%= cookie.id %>/delete">
				<input name="_method" type="hidden" value="delete" />
				<input type="submit" value="Delete Cookie">
				<!-- <button>Delete</button> -->
				</form>
		</div>
	</div>
<% end %>


 