<h1>List of Monthly Challenges</h1>

<a class="btn" href="/challenges/new">Add Challenge</a>

<div class="challenges">
	<% @challenges.each do |challenge| %>
		<div class="row">
			<ul>
				<li>
					</h3>
						<a href="/challenges/<%= challenge.id %>">
							<%= challenge.name %>
						</a>
					</h3>
				</li>

				<li>
					<h3>
						Start:
					</h3>
					<h4>
						<%= challenge.start %>
					</h4>
				</li>

				<li>
					<h3>
						End:
					</h3>
					<h4>
						<%= challenge.end %>
					</h4>
				</li>

				<li>
					<a href="/challenges/<%= challenge.id %>/edit">
					Edit
					</a>
				</li>

				<li>
					<form method="/challenges/<%= challenge.id %>/delete" action="post">
						<button>Delete</button>
					</form>
				</li>
<!-- 		add another li? -->
			</ul>
		</div>
	<% end %>
</div>
