<h3>Challenge: <%= @challenge.name %></h3>
<h4>Difficulty (1 to 5, with 5 as the most difficult): <%= @challenge.difficulty %></h4>
<h4>Start Date: <%= @challenge.start %></h4>
<h4>End Date: <%= @challenge.end %></h4>
<img src="<%= @challenge.photo_url %>">
