<h2>Pizzas</h2>

<a class="btn" href="/pizzas/new">Add Pizza</a>

<div class="pizzas">
  <% @pizzas.each do |pizza| %>
  <div class="row">
    <ul>
      <li>
        <h2>
          <a href="/pizzas/<%= pizza.id %>">
            <%= pizza.name %>
          </a>
        </h2>
      </li>
      <li>
        <h2>
          Toppings:
        </h2>
        <h4>
        <%= pizza.sauce %>, <%= pizza.cheese %>, <%= pizza.mushrooms %> and <%= pizza.extra_toppings %>
        </h4>
      </li>
      <li>
        <a href="/pizzas/<%= pizza.id %>/edit">
          Edit
        </a>
      </li>
      <li>
        <li>
          <form method="/pizzas/<%= pizza.id %>/delete" action="post">
            <button>Delete</button>
          </form>
        </li>
      </li>
    </ul>
  </div>
  <% end %>
</div>
