<img src='../images/magic-of-motown.png' id="motown-background-image" class="render_grayscale">
<h2 id="page-title" class="header_lg">Browse All Albums</h2>
<div class="multiple-items">
  {{#each albums}}
    <!-- {{#if this.name}} -->
      <div class="single-album">
        <a href="/albums/{{this._id}}" class="search_result_image_link">
          {{#if this.photoUrl}}
            <img src="{{this.photoUrl}}" alt="album cover photo" class="index-cover">
          {{else}}
            <div class="default_image_div">
              <img src="/images/bright-cover-art.png" class="search_result_image default_image">
              <p class="header_sm default_image_text" id="missing_art_text" style="color: white">Album Art Missing</p>
            </div>
          {{/if}}
        </a>
          <div id="name-artist">
            <p class="text_lg">{{this.artistName}}</p>
            <p class="text_lg">{{this.name}}</p>
          </div>
      </div>
   <!--  {{/if}} -->
  {{/each}}
</div>
