<h1>Edit library details</h1>
<%= form_for @library do |f| %>
	<%= f.text_field :name, placeholder: "Name" %>
	<%= f.number_field :floor_count, placeholder: "Floor Count" %>
	<%= f.number_field :floor_area, placeholder: "Floor Area" %>
	<%= f.submit "Edit Library" %>
<% end %>